html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background: #f3efea;
}

[class*="__container"]{
    max-width: 1160px;
    margin: 0 auto;
}

h2, h3 {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: lighter;
    color: #57463A;
}

h2 {
    font-size: 2.5em;
    margin: 10vh;
}

.button {
    background: #A1B29F;
    color: #F6F6F6;
    border: none;
    text-decoration: none;
    padding: 18px 56px;
    margin-top: 2em;
    font-size: smaller;
    text-align: center;
}

.button:hover {
    background: #678064;
    cursor: pointer;
    border: none;
}

/*---------------index-about---------------*/

.index-about__title {
    text-align: center;
}

.index-about__info {
    display: flex;
}

.index-about__photo {
    max-width: 100%;
    object-fit: cover;
}

.index-about__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #EBEEEB;
    font-size: 1.1em;
    padding: 1.5em;
}

.index-about__paragraph_bold {
    font-weight: bolder;
    margin-top: 10%;
}

/*---------------index-video---------------*/

/*--------------index-services-------------*/

/*--------------index-quality--------------*/

.index-quality__container {
    border: solid 7px;
    border-color: #A1B29F;
}

.index-quality__title-top {
    margin-top: 10vh;
    margin-bottom: 0;
}

.index-quality__title-bottom {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/*---------------Footer---------------*/

.footer {
    background: #715B4B;
    min-height: 40vh;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
}

.footer__text {
    margin: 0;
    font-size: 0.9em;
    color: #F6F6F6;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__link {
    font-size: 0.9em;
    color: #F6F6F6;
}

.footer__socials {
    display: flex;
}

.footer__social {
    margin-left: 1.5vw;
}