:root {
--bg-color: #F6F6F6;
}


main img {background: rgb(241,241,241);
background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
}

/* majid-gheidarlou-LuI6euS7Dno-unsplash 1 */
position: absolute;
width: 1440px;
height: 601px;
left: 0px;
top: 137px;
